.container {  
    display: grid;
    grid-template-columns: 350px 1fr;
    grid-template-rows: 150px 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "sidebar toolbar"
      "sidebar main";
    height: 100vh;
    width: 100%;

    border: 1px solid hsl(0, 0%, 76%);
  }

.sidebar,
.toolbar,
.main {
    border: 1px solid hsla(0, 0%, 76%, 0.342);
    padding: 1.5rem;
}

.sidebar {
    grid-area: sidebar;
}
  
.toolbar { 
    grid-area: toolbar;
}
  
.main { 
    grid-area: main;
}
  