.container {
    padding: 2rem 0.75rem 0;
    width: 100%;
}

.MuiAutocomplete-root {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .container {
        padding: 2rem 3rem 0;
    }

    .MuiAutocomplete-root {
        width: 400px !important;
    }
}